# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db

# Django
DJANGO_SETTINGS_MODULE=backend.settings
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=PLEASE-SET-UP-ME

# React (Should start with prefix 'REACT_APP_')
REACT_APP_BASE_API_URL=http://localhost:8000/
REACT_APP_BASE_FRONTEND_URL=http://localhost:3000/

# Google auth
GOOGLE_OAUTH2_CLIENT_ID = PLEASE-SET-UP-ME
GOOGLE_OAUTH2_CLIENT_SECRET = PLEASE-SET-UP-ME
